
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body {
            margin: 20px 10px 0 10px;
        }
        .row {
            padding-bottom: 5px;
        }
    </style>
</head>
<body>
    <form class="container-fluid" id="search-form">
        <div class="form-inline" style="padding-bottom: 20px">
            <div class="form-group">
                <input type="text" class="form-control" id="criteria" placeholder="Title">
            </div>
            <button type="submit" class="btn btn-default" id="search-btn">Search</button>
        </div>
        
        <div id="results-container">
        </div>
    </form>

    <!-- template used for displaying search results -->
    <div class="row hidden" id="row-template">
        <div class="col-sm-3" name="Author"></div>
        <div class="col-sm-3" name="Title"></div>
        <div class="col-sm-2" name="Genre"></div>
        <div class="col-sm-1" name="Price"></div>
        <div class="col-sm-3" name="PublishDate"></div>
        <div class="col-sm-12" name="Description" style="font-style: italic"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script>
        $('#search-form').submit(function (form) {
            form.preventDefault();
            $('#results-container').empty();

            $.getJSON('books/bytitle/' + $('#criteria').val(), function (result) {

                $.each(result, function (key, val) {
                    var row = $('#row-template').clone();

                    ['Author', 'Title', 'Genre', 'Price', 'PublishDate', 'Description']
                        .forEach(function (e) {
                        row.find('[name="' + e + '"]').html(val[e]);
                    });
                    row.removeClass('hidden');
                    $('#results-container').append(row);
                });
                return false;
            })
            .fail(function () {
                $('#results-container').append('Could not perform search, possibly due to connection error' +
                    ' (is the server up, correct url in called on this page?)');
            });
        });
    </script>
</body>
</html>
